/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fs-700: 2.25rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 0.9375rem;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
  --flow-space: 3rem;
}

.container {
  padding: 0 var(--spacer);
  max-width: var(--container-size, 70rem);
  margin: 0 auto;
}

.container-narrow {
  --container-size: 35rem;
}

.split {
  display: flex;
  flex-direction: column;
  gap: var(--split-spacer, var(--spacer));
}

/* .split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
} */

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin: 0 0 0 var(--spacer);
  }
}

.a-center {
  align-items: center;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.bg-dark {
  --section-title-color: var(--clr-neutral-100);
  --btn-bg-color: var(--clr-neutral-100);

  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-accent {
  --section-title-color: var(--clr-neutral-100);
  --btn-bg-color: var(--clr-neutral-100);
  --btn-bg-hover-color: var(--clr-neutral-300);

  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
}

.bg-light {
  --section-title-color: var(--clr-accent-400);
  --btn-bg-color: var(--clr-accent-400);

  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

.text-accent {
  color: var(--clr-accent-400);
}

.fw-bold {
  font-weight: var(--fw-700);
}

.fs-700 {
  font-size: var(--fs-700);
}

.ff-italic {
  font-style: italic;
}

.text-upcase {
  text-transform: uppercase;
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
}

a {
  color: var(--clr-accent-500);
  text-decoration: none;
  font-weight: var(--fw-700);
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--btn-bg-color, var(--clr-accent-400));
  color: var(--clr-neutral-900);
  transition: all 250ms ease-in;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--btn-bg-hover-color, var(--clr-accent-500));
}

.section-title {
  display: inline-block;
  font-size: var(--fs-300);
  color: var(--section-title-color, var(--clr-accent-400));
  background-color: var(--clr-neutral-900);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.25em 0.5em;
}

/* navigation */

header {
  padding: var(--spacer) 0;
}

@media (min-width: 40em) {
  header {
    position: sticky;
    z-index: 1000;
    top: 0;
  }
}

.logo {
  max-width: 3rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.nav-list a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-list a:hover {
  color: var(--clr-accent-400);
}

/* general layout */
section {
  padding: 4.125rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 8.125rem 0;
  }
}

/* individual sections */

.hero img {
  transform: translateY(2em);
}

@media (min-width: 40em) {
  .hero {
    padding: 0;
  }
}

.join-now li {
  position: relative;
}

.join-now li::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: var(--clr-accent-400);
  position: absolute;
  z-index: -1;
  top: -0.5rem;
  left: -0.5rem;
  /* transform: translate(-0.5rem, -0.5rem); */
}

.join-now li:nth-of-type(even)::before {
  background: var(--clr-neutral-900);
}

.cta {
  background-image: url(assets/cta-bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: var(--clr-neutral-900);
  text-align: center;
  position: relative;
}

.testimonials {
  --split-spacer: 5rem;
  text-align: center;
}

.testimonial {
  text-align: left;
  position: relative;
  padding: 2em 1.5em;
  background-color: var(--testimonial-bg-color, var(--clr-neutral-900));
  color: var(--testimonial-color, var(--clr-neutral-100));
}

.testimonial .name {
  margin-top: 1.5em;
}

.testimonial:nth-of-type(odd) .name {
  color: var(--clr-accent-400);
}

.testimonial::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: var(--testimonial-card-corner-color, var(--clr-accent-400));
  position: absolute;
  z-index: -1;
  top: -0.5rem;
  left: -0.5rem;
  /* transform: translate(-0.5rem, -0.5rem); */
}

.testimonial:nth-of-type(even) {
  --testimonial-bg-color: var(--clr-accent-400);
  --testimonial-color: var(--clr-neutral-900);
  --testimonial-card-corner-color: var(--clr-neutral-900);
}

.cta2 {
  background-image: url(assets/cta-bg-2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
